code
  font-size: $fs-code
  -webkit-text-size-adjust: none
  -moz-text-size-adjust: none

p>code:not([class]),li>code:not([class])
  font-size: $fs-code
  background: var(--block)
  padding: .2em
  border-radius: 4px
  color: var(--text-code)
  font-synthesis: style
  overflow-wrap: break-word
  line-height: 1.5
  -webkit-text-size-adjust: none
  -moz-text-size-adjust: none
