.tag-plugin.audio
  line-height: 0
  margin: auto
  audio
    border-radius: $border-card
    box-shadow: $boxshadow-card-float
    z-index 1
    background: var(--block)
    width: 100%
    margin: 0
