.paginator-wrap
  margin: 1rem
  display: flex
  justify-content: space-between
  align-items: center
  font-size: 1rem
  font-weight: 700
  background: var(--card)
  border-radius: $border-bar-container
  overflow: hidden
  box-shadow: 0 2px 8px 0px rgba(0, 0, 0, 0.03)
  color: var(--text-p3)
  .page-number
    padding: 4px 8px
    border-radius: 8px
    margin: 2px
  a.page-number
    color: var(--text-p3)
    &:hover
      color: var(--text-p1)
      background: var(--block)
  .extend
    text-align: center
    width: 1.5rem
    height: 1.5rem
    font-size: 0
    &::before
      content: ''
      display: inline-block
      width: 1.5rem
      height: 1.5rem
      background: currentColor
      mask: center / contain no-repeat
      -webkit-mask: center / contain no-repeat
    &.next
      border-left: 1px dashed var(--block-border)
      &::before
        mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 24 24'%3E%3C!-- Icon from Solar by 480 Design - https://creativecommons.org/licenses/by/4.0/ --%3E%3Cpath fill='currentColor' d='M6.25 19a.75.75 0 0 0 1.32.488l6-7a.75.75 0 0 0 0-.976l-6-7A.75.75 0 0 0 6.25 5z' opacity='.5'/%3E%3Cpath fill='currentColor' fill-rule='evenodd' d='M10.512 19.57a.75.75 0 0 1-.081-1.058L16.012 12l-5.581-6.512a.75.75 0 1 1 1.139-.976l6 7a.75.75 0 0 1 0 .976l-6 7a.75.75 0 0 1-1.058.082' clip-rule='evenodd'/%3E%3C/svg%3E")
        -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 24 24'%3E%3C!-- Icon from Solar by 480 Design - https://creativecommons.org/licenses/by/4.0/ --%3E%3Cpath fill='currentColor' d='M6.25 19a.75.75 0 0 0 1.32.488l6-7a.75.75 0 0 0 0-.976l-6-7A.75.75 0 0 0 6.25 5z' opacity='.5'/%3E%3Cpath fill='currentColor' fill-rule='evenodd' d='M10.512 19.57a.75.75 0 0 1-.081-1.058L16.012 12l-5.581-6.512a.75.75 0 1 1 1.139-.976l6 7a.75.75 0 0 1 0 .976l-6 7a.75.75 0 0 1-1.058.082' clip-rule='evenodd'/%3E%3C/svg%3E")
    &.prev
      border-right: 1px dashed var(--block-border)
      &::before
        mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 24 24'%3E%3C!-- Icon from Solar by 480 Design - https://creativecommons.org/licenses/by/4.0/ --%3E%3Cpath fill='currentColor' d='M17.75 19a.75.75 0 0 1-1.32.488l-6-7a.75.75 0 0 1 0-.976l6-7A.75.75 0 0 1 17.75 5z' opacity='.5'/%3E%3Cpath fill='currentColor' fill-rule='evenodd' d='M13.488 19.57a.75.75 0 0 0 .081-1.058L7.988 12l5.581-6.512a.75.75 0 1 0-1.138-.976l-6 7a.75.75 0 0 0 0 .976l6 7a.75.75 0 0 0 1.057.082' clip-rule='evenodd'/%3E%3C/svg%3E")
        -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 24 24'%3E%3C!-- Icon from Solar by 480 Design - https://creativecommons.org/licenses/by/4.0/ --%3E%3Cpath fill='currentColor' d='M17.75 19a.75.75 0 0 1-1.32.488l-6-7a.75.75 0 0 1 0-.976l6-7A.75.75 0 0 1 17.75 5z' opacity='.5'/%3E%3Cpath fill='currentColor' fill-rule='evenodd' d='M13.488 19.57a.75.75 0 0 0 .081-1.058L7.988 12l5.581-6.512a.75.75 0 1 0-1.138-.976l-6 7a.75.75 0 0 0 0 .976l6 7a.75.75 0 0 0 1.057.082' clip-rule='evenodd'/%3E%3C/svg%3E")
  .current
    font-family: $ff-code
    background: var(--block)
  .extend
    padding: .5rem
    line-height: 0
    filter: grayscale(100%)
    svg
      display: block
      width: 1.5rem
      height: 1.5rem
    &.disable
      pointer-events: none
  span.extend
    opacity: 0.25
  a.extend:hover
    filter: unset
    color: var(--theme)
