if hexo-config('style.page_transition.swup')
  .transition-fade
    transition: opacity 0.2s ease
    opacity: 1

  html.is-animating .transition-fade
    opacity: 0

  @media (prefers-reduced-motion: reduce)
    .transition-fade
      transition: none
